/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap'); */

:root {
  --title-font: 'Rubik', sans-serif;

  --rem: 0.277777vw;
  --col: 2.5vw;
}

@media (max-width: 600px) {
  :root {
    --rem: 0.8vw;
  }
}

/* @media (prefers-color-scheme: light) { */
@media {
  :root {
    --color-background: #fff;
    --color-accent: #40f;

    --color-font-base: #222;
    --color-font-accent: #fff;

    --color-button-default: #40f;
    --color-button-hover: #45f;
    --color-button-active: #30b;
    --color-button-focus: #48f;
  }
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --color-background: #222; */
/*     --color-accent: #40f; */

/*     --color-font-base: #fff; */
/*     --color-font-accent: #fff; */

/*     --color-button-default: #40f; */
/*     --color-button-hover: #45f; */
/*     --color-button-active: #30b; */
/*     --color-button-focus: #48f; */
/*   } */
/* } */

body {
  background-color: var(--color-background);

  overflow-x: hidden;
}
